.jargon-form {
    margin: 20px 0;
}


.jargonCard {
    display: inline-block;
    border: 1px solid;
    padding: 25px 15px;
    margin: 10px;
    box-shadow: 4px 4px 2px #888;
}

.selected {
    border: 1px solid black;
}