$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
body {
  background: url(../assets/images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #000;
  a {
    color: #444;
  }
  a:hover {
    color: #222;
    text-decoration: none;
  }
}

 .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.jargon {
  font-weight: 300;
  margin-top: 2.0em;
  text-align: left;
  position: relative;
  padding: 30px 15px;
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  .container {
    width: 500px;
  }
  .head {
    font-family: 'Merriweather', serif;
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    .word {
      font-weight: 900;
    }
    .comma {
      font-size: 0.8em;
    }
    em {
      font-size: 0.8em;
      font-weight: 700;
    }
  }
  .body {
    font-family: 'Neuton', serif;
    font-size: 1.8em;
    .definition {
      hyphens: auto;
      margin: 18px 0 25px;
    }
    .usage {
      .title {
        font-family: 'Unica One', serif;
        font-weight: bold;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        font-size: 0.8em;
      }
      .example {
        font-family: 'Neuton', serif;
        font-size: 0.9em;
      }
    }
  }
  hr {
    height: 5px;
    border: none;
    color: #000;
  }
  .score {
    font-family: 'Unica One', serif;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;

    a {
      color: inherit;
    }
    .vote-up, .vote-down {
      font-size: 0.9em;
      color: #000;
      cursor: pointer;
    }
    .vote-up {
      &:hover {
        color: #34613F;
        transition: .3s;
      }
    }
    .vote-down {
      &:hover {
        color: #992E2E;
        transition: .3s;
      }
    }
  }
}

.footer {
  font-family: 'Unica One', serif;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
  margin-top: 75px;
}


// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'main/main.scss';
// endinjector
