<div class="jargon">
  <div class="container">
    <div class="head">
      <span class="word">{{jargon.word}}</span><span class="comma">,</span><em> {{jargon.type}}.</em>
    </div>
    <div class="body">
      <p class="definition">
        {{jargon.defn}}
      </p>
      <div class="usage">
        <span class="title">Usage</span><br />
        <span class="example" ng-bind-html="jargon.usage"></span>
      </div>
    </div>
    <hr />
    <div class="score">
      <i class="fa fa-minus-square-o vote-down" ng-click="subScore(jargon)" ng-show="!hasVoted"></i>
      <span class="value" title="Votes">{{jargon.meta.votes}}</span>
      <i class="fa fa-plus-square-o vote-up" ng-click="addScore(jargon)" ng-show="!hasVoted"></i>
      &nbsp;&middot;&nbsp;
      <a href="#" ng-click="random()">Random</a>
    </div>
  </div>
</div>
